@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
:root {
  --bg-color: #282828;
  --text-color: #98971a;
}
body {
  background: var(--bg-color);
  font-family: "JetBrains Mono", monospace;
  color: var(--text-color);
}
